/* Feuille de style perso VM */


/* Style général */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=auto');

body {
  font-family: "Source Sans Pro";
  font-size: 1.1rem;
}

.bd-article-container h1,
.bd-article-container h2,
.bd-article-container h3,
.bd-article-container h4,
.bd-article-container h5,
.bd-article-container h6 {
  font-family: "Source Sans Pro";
  font-weight: 600;
  color: var(--pst-color-text-base);
}

h1 {font-size: 2.5em}
h2 {font-size: 1.7em}
h3 {
  font-size: 1.0em;
  margin: 1.2rem 0 .5rem 0;
}

span.pre {
  background-color: #eee;
  padding: 1px 5px;
  border: 0;
  color: #000;
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-weight: normal;
  font-size: inherit;
  line-height: 1.3077
}

/* Taille des légendes */

main.bd-content #main-content div.figure span {
  font-size: 1.1rem;
}

/* Hack pour faire disparaître le bouton "launch" */

.menu-dropdown.menu-dropdown-launch-buttons {
    display: none;
}

/* Hack pour faire disparaître le footer (et mettre le mien à la place) */

.component-author, .copyright {
    display: none;
}

/* Style pour l'impression */

@media print {
  body {
    font-family: Times;
    margin: 2cm
  }
}

/* Tableaux */

table p { margin-bottom: 0 }


/* Cadre exemple */

.example {
  background-color: #F7F9FA;
  padding: 1em;
  border-left: 2px #c6c9cc solid;
  margin: 1em 0;
}

.example::before {
  content: "Exemple";
  font-weight: bold;
  color: #9c9ea1;
}


/* Styles pour les animations */

.spetsi {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.anim {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.anim-button {
  background-color:#ededed;
  /*-moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;*/
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#777777;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}
.anim-button:hover {
  background-color:#dfdfdf;
}
.anim-button:active {
  position:relative;
  top:1px;
}

.spetsi {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Bouton exercice */

a.exercise::before {
    content: "➜ Exercice ";
}

/* Fond pour les tabs */

sd-tab-content {
    background-color: #f4f4f4;
}

/* Numéro d'équation */

span.eqno {
    font-size: 1em;
}

/* Print mode */

@media print {
    
    body {
        width: 100%;
    }
    
    # Supprimer le texte "Passer au contenu principal"
    skip-link {
        display: none;
    }

    #print-main-content {
        border: 1px solid #333;
        padding: 0mm 10mm 0mm 10mm;
        width: 80%;
        margin: auto;
        margin-top: 10mm;
        margin-bottom: 10mm;
        background-color: #eee;
    }

}