/* Feuille de style perso VM */

@font-face {
  font-family: "Source Sans Pro SemiBold";
  src: url("fonts/SourceSansPro-SemiBold.ttf");
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("fonts/SourceSansPro-Regular.ttf");
}

body {font-family: "Source Sans Pro"}
h1, h2, h3, h4, h5, h6 {font-family: "Source Sans Pro SemiBold"}
h1 {font-size: 2.5em}
h2 {font-size: 1.7em}
